body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* position: relative; */
}

#sea {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, #000000 26%, #05031b8f 76%);
    height: 35vh;
    width: 100%;
}

#sea-water {
    filter: url("#turbulence");
    background-color: #afb77067;
    height: 100%;
}

.stars {
    background: black url(./img/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: -2;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("./img/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    animation: move-background 70s linear infinite;
}

@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(1000px, 0px, 0px);
    }
}